<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_res_1_10 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{370,118},{124,114}}</string>
                <key>offset</key>
                <string>{24,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,29},{124,114}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_10 (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{244,118},{124,114}}</string>
                <key>offset</key>
                <string>{24,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,29},{124,114}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_10 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{118,118},{124,114}}</string>
                <key>offset</key>
                <string>{24,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,29},{124,114}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_10 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,114}}</string>
                <key>offset</key>
                <string>{25,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,29},{126,114}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_10 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{124,114}}</string>
                <key>offset</key>
                <string>{24,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,29},{124,114}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_10 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{124,114}}</string>
                <key>offset</key>
                <string>{24,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,29},{124,114}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_10 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{124,114}}</string>
                <key>offset</key>
                <string>{24,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,29},{124,114}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_10 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{124,114}}</string>
                <key>offset</key>
                <string>{24,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,29},{124,114}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_10 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{124,114}}</string>
                <key>offset</key>
                <string>{24,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,29},{124,114}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_10 (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{124,114}}</string>
                <key>offset</key>
                <string>{24,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,29},{124,114}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_res_1_10.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca5c37c0a8eee9c18242ed4c246b345b:1/1$</string>
            <key>textureFileName</key>
            <string>effect_res_1_10.png</string>
        </dict>
    </dict>
</plist>
