<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_res_1_2 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{90,354},{114,86}}</string>
                <key>offset</key>
                <string>{15,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,53},{114,86}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_2 (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{90,266},{114,86}}</string>
                <key>offset</key>
                <string>{15,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,53},{114,86}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_2 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{114,86}}</string>
                <key>offset</key>
                <string>{15,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,53},{114,86}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_2 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{114,86}}</string>
                <key>offset</key>
                <string>{15,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,53},{114,86}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_2 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{118,178},{114,86}}</string>
                <key>offset</key>
                <string>{15,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,53},{114,86}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_2 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{114,86}}</string>
                <key>offset</key>
                <string>{15,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,53},{114,86}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_2 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{118,90},{114,86}}</string>
                <key>offset</key>
                <string>{15,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,53},{114,86}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_2 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{114,86}}</string>
                <key>offset</key>
                <string>{15,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,53},{114,86}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_2 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{114,86}}</string>
                <key>offset</key>
                <string>{15,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,53},{114,86}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_2 (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,86}}</string>
                <key>offset</key>
                <string>{15,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,53},{114,86}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_res_1_2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ceac08531b345f1bb6613907a2e396b0:1/1$</string>
            <key>textureFileName</key>
            <string>effect_res_1_2.png</string>
        </dict>
    </dict>
</plist>
