<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_res_2_8 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{128,160}}</string>
                <key>offset</key>
                <string>{-5,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,9},{128,160}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_8 (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{326,304},{130,160}}</string>
                <key>offset</key>
                <string>{-5,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,9},{130,160}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_8 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{164,266},{130,160}}</string>
                <key>offset</key>
                <string>{-5,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,9},{130,160}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_8 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{130,160}}</string>
                <key>offset</key>
                <string>{-5,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,9},{130,160}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_8 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{330,172},{130,160}}</string>
                <key>offset</key>
                <string>{-5,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,9},{130,160}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_8 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{166,134},{130,162}}</string>
                <key>offset</key>
                <string>{-5,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,8},{130,162}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_8 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{130,168}}</string>
                <key>offset</key>
                <string>{-5,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,8},{130,168}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_8 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{130,174}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,9},{130,174}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_8 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{130,162}}</string>
                <key>offset</key>
                <string>{-5,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,9},{130,162}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_8 (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,176}}</string>
                <key>offset</key>
                <string>{-5,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,4},{130,176}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_res_2_8.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ccace1713875a2665543673267f80a4:1/1$</string>
            <key>textureFileName</key>
            <string>effect_res_2_8.png</string>
        </dict>
    </dict>
</plist>
