<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_townhall_flame (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{58,92},{24,28}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>effect_townhall_flame (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{24,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>effect_townhall_flame (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{28,66},{24,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>effect_townhall_flame (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{24,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>effect_townhall_flame (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{56,32},{24,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>effect_townhall_flame (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{54,62},{24,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>effect_townhall_flame (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{26,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>effect_townhall_flame (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{30,98},{26,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>effect_townhall_flame (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{26,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>effect_townhall_flame (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{26,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>effect_townhall_flame (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>effect_townhall_flame (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{30,32},{24,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_townhall_flame.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c98ce5aa90b23c716ae90a9c1a869d7:1/1$</string>
            <key>textureFileName</key>
            <string>effect_townhall_flame.png</string>
        </dict>
    </dict>
</plist>
