<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_res_2_6 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{104,136}}</string>
                <key>offset</key>
                <string>{-8,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,27},{104,136}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_6 (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{246,106},{102,138}}</string>
                <key>offset</key>
                <string>{-7,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,25},{102,138}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_6 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{106,278},{102,136}}</string>
                <key>offset</key>
                <string>{-7,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,27},{102,136}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_6 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{386,140},{102,136}}</string>
                <key>offset</key>
                <string>{-7,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,27},{102,136}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_6 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{102,140}}</string>
                <key>offset</key>
                <string>{-7,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,27},{102,140}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_6 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{102,150}}</string>
                <key>offset</key>
                <string>{-7,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,26},{102,150}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_6 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,146}}</string>
                <key>offset</key>
                <string>{-7,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,27},{102,146}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_6 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,150}}</string>
                <key>offset</key>
                <string>{-7,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,27},{102,150}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_6 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{106,106},{102,138}}</string>
                <key>offset</key>
                <string>{-7,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,27},{102,138}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_6 (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{102,148}}</string>
                <key>offset</key>
                <string>{-7,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,26},{102,148}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_res_2_6.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72477143c24c7dad7d6f0c3ef6727214:1/1$</string>
            <key>textureFileName</key>
            <string>effect_res_2_6.png</string>
        </dict>
    </dict>
</plist>
