<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_res_2_7 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{114,138}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,26},{114,138}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_7 (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,140}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,24},{112,140}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_7 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{396,142},{112,138}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,26},{112,138}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_7 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{116,230},{112,138}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,26},{112,138}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_7 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{256,118},{112,138}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,26},{112,138}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_7 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{116,116},{112,138}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,26},{112,138}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_7 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{112,142}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,26},{112,142}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_7 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,148}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,26},{112,148}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_7 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{112,138}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,26},{112,138}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_7 (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{112,144}}</string>
                <key>offset</key>
                <string>{-2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,27},{112,144}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_res_2_7.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5942935fbc15c7f8a8ff4375891b6a56:1/1$</string>
            <key>textureFileName</key>
            <string>effect_res_2_7.png</string>
        </dict>
    </dict>
</plist>
