<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_res_1_8 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{344,112},{114,108}}</string>
                <key>offset</key>
                <string>{29,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,29},{114,108}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_8 (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{228,112},{114,108}}</string>
                <key>offset</key>
                <string>{29,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,29},{114,108}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_8 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{112,112},{114,108}}</string>
                <key>offset</key>
                <string>{29,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,29},{114,108}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_8 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,108}}</string>
                <key>offset</key>
                <string>{30,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,29},{116,108}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_8 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{114,108}}</string>
                <key>offset</key>
                <string>{29,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,29},{114,108}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_8 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{114,108}}</string>
                <key>offset</key>
                <string>{29,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,29},{114,108}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_8 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{114,108}}</string>
                <key>offset</key>
                <string>{29,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,29},{114,108}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_8 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{114,108}}</string>
                <key>offset</key>
                <string>{29,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,29},{114,108}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_8 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{114,108}}</string>
                <key>offset</key>
                <string>{29,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,29},{114,108}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_8 (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{114,108}}</string>
                <key>offset</key>
                <string>{29,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,29},{114,108}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_res_1_8.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa652583313fdfb1e81b3af16b4c7ebe:1/1$</string>
            <key>textureFileName</key>
            <string>effect_res_1_8.png</string>
        </dict>
    </dict>
</plist>
