<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_res_2_1 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{88,88}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,79},{88,88}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_1 (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{88,88}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,79},{88,88}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_1 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{92,182},{88,88}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,79},{88,88}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_1 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{88,88}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,79},{88,88}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_1 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{92,272},{86,88}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,79},{86,88}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_1 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{92,360},{82,88}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,79},{82,88}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_1 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{84,92}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,79},{84,92}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_1 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,100}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,78},{86,100}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_1 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{96,92},{88,88}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,79},{88,88}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_1 (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{88,96}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,79},{88,96}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_res_2_1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:347deff860f9cafbec22084bf57d0fa6:1/1$</string>
            <key>textureFileName</key>
            <string>effect_res_2_1.png</string>
        </dict>
    </dict>
</plist>
