<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_res_1_6 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{118,402},{114,98}}</string>
                <key>offset</key>
                <string>{29,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,45},{114,98}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_6 (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{114,98}}</string>
                <key>offset</key>
                <string>{29,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,45},{114,98}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_6 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{118,302},{114,98}}</string>
                <key>offset</key>
                <string>{29,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,45},{114,98}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_6 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{114,98}}</string>
                <key>offset</key>
                <string>{29,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,45},{114,98}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_6 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{118,202},{114,98}}</string>
                <key>offset</key>
                <string>{29,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,45},{114,98}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_6 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{114,98}}</string>
                <key>offset</key>
                <string>{29,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,45},{114,98}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_6 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{118,102},{114,98}}</string>
                <key>offset</key>
                <string>{29,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,45},{114,98}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_6 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{114,98}}</string>
                <key>offset</key>
                <string>{29,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,45},{114,98}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_6 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{114,98}}</string>
                <key>offset</key>
                <string>{29,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,45},{114,98}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>effect_res_1_6 (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,96}}</string>
                <key>offset</key>
                <string>{29,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,47},{114,96}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_res_1_6.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42d5598a76a1d30cc93d0b5a9892dbc2:1/1$</string>
            <key>textureFileName</key>
            <string>effect_res_1_6.png</string>
        </dict>
    </dict>
</plist>
