<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_res_2_9 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{330,110},{106,162}}</string>
                <key>offset</key>
                <string>{6,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,7},{106,162}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_9 (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{106,162}}</string>
                <key>offset</key>
                <string>{7,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,7},{106,162}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_9 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{106,162}}</string>
                <key>offset</key>
                <string>{7,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,7},{106,162}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_9 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{110,162}}</string>
                <key>offset</key>
                <string>{5,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,7},{110,162}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_9 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{220,168},{108,162}}</string>
                <key>offset</key>
                <string>{6,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,7},{108,162}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_9 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{166,350},{108,162}}</string>
                <key>offset</key>
                <string>{6,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,8},{108,162}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_9 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{110,180},{108,168}}</string>
                <key>offset</key>
                <string>{6,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,8},{108,168}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_9 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,176}}</string>
                <key>offset</key>
                <string>{5,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,7},{110,176}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_9 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{106,164}}</string>
                <key>offset</key>
                <string>{7,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,7},{106,164}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>effect_res_2_9 (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{106,176}}</string>
                <key>offset</key>
                <string>{7,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,4},{106,176}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_res_2_9.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcd369367d9f52304750930842751132:1/1$</string>
            <key>textureFileName</key>
            <string>effect_res_2_9.png</string>
        </dict>
    </dict>
</plist>
